@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAE0D5;
  --foreground: #0A0908;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EAE0D5;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
